<div style="width: 95%;">
    <div style="background-color: rgb(74, 155, 221); height: 50px; width: 100%; margin: 10px; border-style: solid;">
        <app-header></app-header>
    </div>
    <div style="background-color: rgb(221, 166, 175); float:left; width: 20%; margin: 10px; border-style: solid; padding-top: 150px; padding-bottom: 150px;">
            <app-nav></app-nav>
    </div>
    <div style="background-color: rgb(86, 194, 86); float:left; width: 75%; margin: 10px; border-style: solid; padding-top: 150px; padding-bottom: 150px;">
            <app-content></app-content>
    </div>
    <div style="background-color: rgb(212, 124, 212); float:left; height: 50px; width: 100%; margin: 10px; border-style: solid;">
        <app-footer></app-footer>
    </div>
</div>